﻿@using ReportViewerForMvc;


@{
    ViewBag.Title = "_vacancy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @*<div class="col-md-3 col-12 form-group">
            <label for="">Select Start Date</label>
            <input type="date" class="form-control" placeholder="Select Start Date" id="dateStart">
        </div>
        <div class="col-md-3 col-12 form-group">
            <label for="">Select End Date</label>
            <input type="date" class="form-control" placeholder="Select End Date" id="dateEnd">
        </div>
        
        <div class="col-md-3 col-12 form-group">
            <label for="">Click here</label>
            <button type="button" class="form-control btn btn-primary" id="btnPrint" onclick="printGetDeliveryOut();">Preview</button>
        </div>*@
        <div class="col-md-12">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "width: 100%; height: 95%" })
        </div>
    </div>
</div>


@*@section scripts
{
    <script>

       
       //
        function printGetDeliveryOut() {
          var startdate=$("#dateStart").val();
          var enddate=$("#dateEnd").val();
          if (startdate == "") {
              toastr.error("Please Select Start Date");
              $("#dateStart").focus();
          } else if (enddate == "") {
              toastr.error("Please Select End Date");
              $("#dateEnd").focus();
          } else {
              window.open("/getdeliveryout-list-by-date/" + startdate + "/" + enddate, "_self")
          }

       }
    </script>
}*@




