﻿

<div class="modal fade" id="bonusModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Bonus</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dateB">Date</label>
                                    <input type="date" name="dateB" id="dateB" value="" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="bid" name="bid" hidden value="" />
                                <input type="text" id="empidB" name="empidB" hidden value="" />
                                <div class="form-group">
                                    <label for="amountB">Amount</label>
                                    <input type="number" name="amountB" id="amountB" value="" class="form-control input-sm" placeholder="Enter Amount" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select class="form-control input-sm" id="type">
                                        <option>ប្រាក់លើកទឹកចិត្ត</option>
                                        <option>ប្រាក់ពិន័យ</option>
                                        <option>ប្រាក់ដក</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="amountRiel">Amount Riel</label>
                                    <input type="number" name="amountRiel" id="amountRiel" value="" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="note">Note</label>
                                <textarea type="text" name="note" id="note" value="" class="form-control input-sm"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnBonus" class="btn btn-info btn-sm btn-block" onclick="BonusAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="BonusTbl">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Amount Riel</th>
                                    <th>Note</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



