﻿<form id="employee" method="post" enctype="multipart/form-data">

    <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="fale" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="loadingGif"></div>
                <div class="modal-header">
                    <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                    <b class="modal-title" style="color:darkblue">គ្រប់គ្រងបុគ្គលិក</b>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <img class="center img-responsive img-thumbnail" id="employeePhoto" src="~/Images/company.png" />
                                </div>
                                <div class="form-group">
                                    <label>ជ្រើសរើសរូបថត</label>
                                    <input onchange="readURLEmployee(this);" type="file" id="file" style="width:100%;" />
                                    <input type="hidden" value="" id="file_old" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" hidden value="" />
                                <input id="id" name="id" type="text" value="" class="form-control input-sm hidden" placeholder="Enter employeeId" />

                                <div class="form-group">
                                    <label for="empname">ឈ្មោះ</label>
                                    <input id="empname" name="empname" type="text" value="" class="form-control input-sm" placeholder="Enter Name" />

                                </div>

                                <div class="form-group">
                                    <label for="empnamekh">ឈ្មោះជាភាសារខ្មែរ</label>
                                    <input id="empnamekh" name="empnamekh" type="text" value="" class="form-control input-sm" placeholder="Enter Name in Khmer" />

                                </div>
                                <div class="form-group">
                                    <label for="sex">ភេទ</label>
                                    <select class="form-control input-sm" id="sex">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>None</option>
                                    </select>
                                </div>


                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="departmentid">ផ្នែក</label>
                                    <select class="form-control input-sm" id="departmentid">
                                        @foreach (var department in Model.Departments)
                                        {
                                            <option value=@department.id>@department.name</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="positionid">មុខដំណែង</label>
                                    <select class="form-control input-sm" id="positionid">
                                        @foreach (var pos in Model.Positions)
                                        {
                                            <option value=@pos.id>@pos.positionName</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="showroomid">សាខា</label>
                                    <select class="form-control input-sm" id="showroomid">
                                        @foreach (var pos in Model.ShowRooms)
                                        {
                                            <option value=@pos.id>@pos.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="dob">ថ្ងៃខែឆ្នាំកំណើត</label>
                                    <input id="dob" name="dob" type="date" value="" class="form-control js-date input-sm" placeholder="Date of Birth" />

                                </div>

                                <div class="form-group">
                                    <label for="phone">លេខទូរស័ព្ទ</label>
                                    <input id="phone" name="phone" type="text" value="" class="form-control input-sm" placeholder="000 000 000" />

                                </div>
                                <div class="form-group">
                                    <label for="identityno">លេខអត្តសណ្ណាណប័ណ្ណ</label>
                                    <input id="identityno" name="identityno" type="text" value="" class="form-control input-sm" placeholder="Enter Identity No" />

                                </div>



                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="shippertype">ប្រភេទដឹក</label>
                                    <select class="form-control input-sm" id="shippertype">
                                        <option>Commission</option>
                                        <option>Salary</option>
                                        <option>None</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="vehiracle">យានយន្ត</label>
                                    <select class="form-control input-sm" id="vehiracle">
                                        <option>ម៉ូតូ</option>
                                        <option>តុតុ</option>
                                        <option>ឡាន</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="plateno">ផ្លាក់លេខ</label>
                                    <input id="plateno" name="plateno" type="text" value="" class="form-control input-sm" placeholder="2B-2222" />

                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="phone_card">កាតទូរស័ព្ទ</label>
                                    <input id="phone_card" name="phone_card" type="text" value="" class="form-control input-sm" placeholder="Enter Phone Card" />

                                </div>

                                <div class="form-group">
                                    <label for="petroluem">ប្រាក់សាំង</label>
                                    <input id="petroluem" name="petroluem" type="text" value="" class="form-control input-sm" placeholder="Enter Petroluem" />

                                </div>
                                <div class="form-group">
                                    <label for="deliveryin">ជើងសារយក</label>
                                    <input id="deliveryin" name="deliveryin" type="text" value="" class="form-control input-sm" placeholder="Enter DeliveryIn" />

                                </div>



                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="deliveryout">ជើងសារដឹក</label>
                                    <input id="deliveryout" name="deliveryout" type="text" value="" class="form-control input-sm" placeholder="Enter DeliveryOut" />

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="address">អាស័យដ្ឋាន</label>
                                    <input id="address" name="address" type="text" value="" class="form-control input-sm" placeholder="Enter Address" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">អ៊ីម៉ែល</label>
                                    <input id="email" name="email" type="text" value="" class="form-control input-sm" placeholder="email@example.com" />
                                </div>
                            </div>

                            <hr />
                            <div class="row">

                                <div class="col-md-8">
                                    <button type="button" id="btnEmp" onclick="EmployeeAction();" class="btn btn-info btn-block btn-sm">Add New</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
