﻿

<div class="modal fade" id="showRoomModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage ShowRoom</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="ID" name="name" hidden value="" />
                                <div class="form-group">
                                    <label for="showRoomName">ShowRoom Name</label>
                                    <input type="text" name="showRoomName" id="showRoomName" value="" class="form-control input-sm" placeholder="Enter ShowRoom Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" name="address" id="address" value="" class="form-control input-sm" placeholder="Enter Address Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="ownerName">Owner Name</label>
                                    <input type="text" name="ownerName" id="ownerName" value="" class="form-control input-sm" placeholder="Enter Owner Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="phoneNumber">Phone Number</label>
                                    <input type="text" name="phoneNumber" id="phoneNumber" value="" class="form-control input-sm" placeholder="Enter Phone Number" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnShowRoom" class="btn btn-info btn-sm btn-block" onclick="ShowRoomAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="ShowRoomTbl">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ShowRoom</th>
                                    <th>Address</th>
                                    <th>Owner</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


