﻿@model CamTojobs.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" style="margin:5px" onclick="DepartmentModalAction();" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#departmentModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Department</button>
<button type="button" style="margin:5px" @*onclick="PositionModalAction();"*@ class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#positionModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Position</button>
<button type="button" style="margin:5px" onclick="ShowRoomerModalAction();" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#showRoomModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New ShowRoom</button>
<button type="button" style="margin:5px" onclick="EmployeeModalAction();" class="btn btn-info btn-xs pull-right" id="btCreateEmployee" data-toggle="modal" data-target="#employeeModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Employee</button>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Management</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <label for="displayDepartment">Employee By Department:</label>
                            <select id="displayDepartment" class="form-control input">
                                <option>-----Select Department-----</option>
                                @foreach (var department in Model.Departments)
                                {
                                    <option value="@department.id">@department.name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered" id="employeeTbl">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>NameKh</th>
                                    <th>Sex</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>PhoneCard</th>
                                    <th>Petroluem</th>
                                    <th>DeliveryIn</th>
                                    <th>DeliveryOut</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("_EmployeeModal")
@Html.Partial("_Department")
@Html.Partial("_Position")
@Html.Partial("_ShowRoom")
@Html.Partial("_Salary")
@Html.Partial("_Bonus")

@section scripts{
    @Scripts.Render("~/Scripts/Function/showRoom.js");
    @Scripts.Render("~/Scripts/Function/department.js");
    @Scripts.Render("~/Scripts/Function/Position.js")
    @Scripts.Render("~/Scripts/Function/employee.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}




