﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @*Nvabar*@
    @Html.Partial("_Navbar")

    <div class="container body-content">
        @RenderBody()
        
    </div>
    <div id="footer">
        <div class="container">
            <footer>
                <span>&copy; @DateTime.Now.Year - My ASP.NET Application</span>
                <span class="pull-right">Develop By CBC BBU</span>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
