﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-signal"></span> Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu animate slideIn">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("Company", "Index", "manage-company")</li>
                        <li>@Html.ActionLink("Vacancy", "Index", "manage-vacancy")</li>
                    </ul>
                </li>
                
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify"></span> Control <span class="caret"></span></a>
                    <ul class="dropdown-menu animate slideIn">

                        <li>@Html.ActionLink("Employee", "Index", "Employees")</li>
                        <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                        <li>@Html.ActionLink("Products", "Index", "Products")</li>
                        

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span> Operating <span class="caret"></span></a>
                    <ul class="dropdown-menu animate slideIn">
                        <li>@Html.ActionLink("Invoice", "Index", "Invoices")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("ManageUser", "Index", "UserRoles")</li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-folder-open"></span> Report <span class="caret"></span></a>
                    <ul class="dropdown-menu animate slideIn">

                        <li>@Html.ActionLink("Manage Employee", "Index", "manage-vacancy")</li>
                    </ul>
                </li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
