﻿@using CamTojobs.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*<h2>@ViewBag.Title.</h2>*@
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="loginpanel" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Admin Login</h3>
            </div>
            <div class="panel-body">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="loginPassword">SecurityCode</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span style="padding: 0;" class="input-group-addon"><img alt="" src="~/Account/captcha" /></span>
                                    @Html.TextBoxFor(model => model.SecurityCode, new { @autofocus = "autofocus", @class = "form-control focus", @placeholder = "Enter the security code" })
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Log in" class="btn btn-info btn-block" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </div>
                        </div>

                        @*<p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                    }
                </section>

            </div>
        </div>
        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}