﻿<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="CompanysModal" aria-labelledby="CompanysModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Company</b>
            </div>
            <div class="modal-body">

                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <input type="text" id="CompanyId" hidden name="CompanyId" value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="CompanyName">Company Name</label>
                                        <input type="text" name="CompanyName" id="CompanyName" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Contact">Contact</label>
                                        <input type="text" name="Contact" id="Contact" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="City">City</label>
                                        <input type="text" name="City" id="City" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Address">Address</label>
                                        <input type="text" name="Address" id="Address" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Email">Email</label>
                                        <input type="text" name="Email" id="Email" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-xs btn-info btn-xs form-control" onclick="CompanyAction();" id="btnSaveCompany">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>





