﻿@*@model IEnumerable<CamTojobs.Models.CompanyType>*@

@{
    ViewBag.title = "Company";
}

<h2>Company</h2>

<div class="container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateCompany" data-toggle="modal" data-target="#CompanysModal"> Add New Company</button>
            @*<button onclick="AddnewAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateTeacher" data-toggle="modal" data-target="#companyModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Company</button>*@

            <button class="btn btn-info btn-xs">Manage Company</button>

        </div>
        <div class="panel-body">
            <table class="table-hover table-condensed table-striped" style="width:100%" id="tblCompanys">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Company Name</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_Companys")
@*@Html.Partial("_CompanyType")*@

@section scripts{
    @Scripts.Render("~/Scripts/Function/Companys.js")
    @*@Scripts.Render("~/Scripts/Function/companyType.js")*@
}
