﻿

<div class="modal fade" id="invoiceModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Invoice</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="ID" name="name" hidden value="" />
                                <input type="text" id="invoiceNoFormat" hidden name="invoiceNoFormat" value="" />
                                <div class="form-group">
                                    <label for="invoiceno">Invoice No</label>
                                    <input type="text" name="invoiceno" id="invoiceno" value="" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="idate">Date</label>
                                    <input type="date" name="idate" id="idate" value="" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="customerid">Customer</label>
                                    @*<input type="text" name="customerid" id="customerid" value="" class="form-control input-sm" />*@
                                    <select id="customerid" class="form-control input">
                                        <option>-----Select Customer-----</option>
                                        @foreach (var cu in Model.Customers)
                                        {
                                            <option value="@cu.id">@cu.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="showroomid">Show Room</label>
                                    @*<input type="text" name="showroomid" id="showroomid" value="" class="form-control input-sm"/>*@
                                    <select id="showroomid" class="form-control input">
                                        <option>-----Select ShowRoom-----</option>
                                        @foreach (var sh in Model.ShowRooms)
                                        {
                                            <option value="@sh.id">@sh.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span>អត្រាប្តូរប្រាក់</span> : 1 <span>$</span> = <label id="examount"></label><span> រៀល</span>
                                    <input type="text" hidden id="exid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="totalamount">Total Amount</label>
                                    <input type="number" name="totalamount" id="totalamount" value="" class="form-control input-sm" placeholder="Enter Total Amount" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="carprice">Car Price</label>
                                    <input type="number" name="carprice" id="carprice" value="" class="form-control input-sm" placeholder="Enter Car Price" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="shipprice">Ship Price</label>
                                    <input type="number" name="shipprice" id="shipprice" value="" class="form-control input-sm" placeholder="Enter Ship Price" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="alreadypaid">Already Paid</label>
                                    <input type="number" name="alreadypaid" id="alreadypaid" value="" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" name="calculate" id="calculate" onclick="CalculateAction();" class="btn btn-warning btn-sm btn-block">Calculate</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="ispaid">Is Paid</label>
                                    <input type="checkbox" name="ispaid" id="ispaid" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnInvoice" class="btn btn-info btn-sm btn-block" onclick="InvoiceAction();">Add New</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





