﻿

<div class="modal fade" id="invoiceDetailModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Invoice Detail <span>( អត្រាប្តូរប្រាក់</span> : 1 <span>$</span> = <label id="examount"></label><span> រៀល )</span>
                <input type="text" hidden id="exid" /></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="ID" name="name" hidden value="" />
                                <input type="text" id="invoiceId" hidden name="invoiceId" value="" />
                                <div class="form-group">
                                    <label for="locationid">Location</label>
                                    <select id="locationid" class="form-control input">
                                        @foreach (var l in Model.Locations)
                                        {
                                            <option value="@l.id">@l.location</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="productid">Product</label>
                                    <select id="productid" class="form-control input">
                                        @foreach (var p in Model.Products)
                                        {
                                            <option value="@p.id">@p.productname</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="statusi">Status</label>
                                    <select id="statusi" class="form-control input">
                                        <option>ដឹក</option>
                                        <option>យក</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="namepickup">Name Pick Up</label>
                                    <input type="text" name="namepickup" id="namepickup" placeholder="Enter Name PickUp" value="" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="employeeid">Employee</label>
                                    <select id="employeeid" class="form-control input">
                                        @foreach (var e in Model.Employees)
                                        {
                                            <option value="@e.id">@e.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="deliverytype">Delivery Type</label>
                                    <select id="deliverytype" class="form-control input">
                                        <option>ក្នុងឃ្លាំង</option>
                                        <option>កំពុងដឹង</option>
                                        <option>ត្រឡប់</option>
                                        <option>ដឹករួច</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="receiverphone">Reciever Phone</label>
                                    <input type="text" name="receiverphone" id="receiverphone" placeholder="000-000-000" value="" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="paidtoshop">Paid To Shop</label>
                                    <input type="text" name="paidtoshop" id="paidtoshop" placeholder="Paid To Shop" value="" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="barcode">Barcode</label>
                                    <input type="text" name="barcode" id="barcode" value="" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="number" name="price" id="price" value="0.00" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="pricekh">Price Kh</label>
                                    <input type="number" name="pricekh" id="pricekh" value="0.00" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="paidtodriver">Paid To Diver</label>
                                    <input type="checkbox" name="paidtodriver" id="paidtodriver" value="" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="carprice">Car Price</label>
                                    <input type="number" name="carprice" id="carprice" placeholder="0.00" value="0.00" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="carpricekh">Car PriceKh</label>
                                    <input type="number" name="carpricekh" id="carpricekh" value="0.00" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="shipprice">Ship Price</label>
                                    <input type="number" name="shipprice" id="shipprice" value="0.00" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="shippricekh">Ship PriceKh</label>
                                    <input type="number" name="shippricekh" id="shippricekh" value="0.00" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <button type="button" id="btnInvoiceDetail" class="btn btn-info btn-sm btn-block" onclick="InvoiceDetailAction();">Add New</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered" id="invoiceDetailTbl">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Location</th>
                                    <th>Product</th>
                                    <th>Employee</th>
                                    <th>Status</th>
                                    <th>DeliveryType</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






