﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button onclick="AddNewLocationAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateLocation" data-toggle="modal" data-target="#locationModal"><span class='glyphicon glyphicon-plus-sign'></span> Add New Location</button>
<button onclick="AddNewExchangeAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateExchange" data-toggle="modal" data-target="#exchangeModal"><span class='glyphicon glyphicon-plus-sign'></span> Add New Exchange</button>
<button onclick="AddNewInvoiceAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateInvoice" data-toggle="modal" data-target="#invoiceModal"><span class='glyphicon glyphicon-plus-sign'></span> Add New Invoice</button>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Invoice Management</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <label for="selectdate">Select By Date:</label>
                            <input type="date" id="selectdate" name="selectdate" class="form-control input" value="" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered" id="invoiceTbl">
                            <thead>
                                <tr>
                                    <th>InvoiceID</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>ShowRoom</th>
                                    <th>TotalAmount</th>
                                    <th>Car Price</th>
                                    <th>Ship Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Exchange")
@Html.Partial("_Invoice")
@Html.Partial("_Location")
@Html.Partial("_InvoiceDetail")

@section scripts{
    @Scripts.Render("~/Scripts/Function/invoice.js")
    @Scripts.Render("~/Scripts/Function/exchange.js")
    @Scripts.Render("~/Scripts/Function/location.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
