﻿
@model IEnumerable<CamTojobs.Models.ApplicationUser>

@{
    ViewBag.Title = "Users List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">User Role Management</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Fullname</th>
                            <th style="width: 220px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Email</td>
                                <td>@user.FullName</td>

                                <td>
                                    @Html.ActionLink("Permission", "GetUser/"+user.Id, "UserRoles") |
                                    @Html.ActionLink("Edit", "EditUser/" + user.Id, "UserRoles") |
                                    @Html.ActionLink("Delete", "DeleteUser/" + user.Id, "UserRoles", null, new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
