﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<button type="button" onclick="DepartmentModalAction();" class="btn btn-primary" data-toggle="modal" data-target="#departmentModal">Add New Department</button>
<button type="button" onclick="PositionModalAction();" class="btn btn-primary" data-toggle="modal" data-target="#positionModal">Add New Positon</button>
<button type="button" onclick="ShowRoomerModalAction();" class="btn btn-primary" data-toggle="modal" data-target="#showRoomModal">Add New ShowRoom</button>



@Html.Partial("_Department")
@Html.Partial("_Position")
@Html.Partial("_ShowRoom")
@section Scripts
{
    @Scripts.Render("~/Scripts/Function/showRoom.js");
    @Scripts.Render("~/Scripts/Function/department.js");
    @Scripts.Render("~/Scripts/Function/Position.js")
}

