﻿<div class="modal fade" id="companyTypeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Company Type</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <input type="text" id="ID" name="name" hidden value="" />
                            <div class="form-group">
                                <label for="companyType">Company Types</label>
                                <input type="text" name="companyType" id="companyTypeName" value="" class="form-control input-sm" placeholder="Enter Company Type" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnCompanyType" class="btn btn-info btn-sm btn-block" onclick="CompanyTypeAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="Companytbl">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
