﻿
<h2>Hello</h2>

<button type="button" style="margin-bottom:15px" class="btn btn-info btn-secondary" id="btCreateTeacher" data-toggle="modal" data-target="#companyTypeModal">Add New</button>


@Html.Partial("_CompanyType")

@section scripts{
    @Scripts.Render("~/Scripts/Function/companyType.js")
}
