﻿



<div class="modal fade" data-backdrop="static" data-keyboard="false" id="companyModal" aria-labelledby="companyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Company</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" id="companyID" name="companyID" hidden value="" />
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="companyPhoto" src="~/Images/company.png" alt="Alternate Text" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLCompany(this);" type="file" name="file" id="file" style="width:100%;" value="" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="companyName">Company Name</label>
                                        <input type="text" name="companyName" id="companyName" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="companyTypeId">Company Type</label>
                                        <select class="form-control input-sm" id="companyTypeId">
                                            @foreach (var companyType in Model)
                                            {
                                                <option value=@companyType.Id>@companyType.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="contactPerson">Contact Person</label>
                                        <input type="text" name="contactPerson" id="contactPerson" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="contactPhone">Contact Phone</label>
                                        <input type="text" name="contactPhone" id="contactPhone" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" name="address" id="address" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-info form-control" onclick="CompanyAction();" id="saveCompany">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
