﻿@model IEnumerable<CamTojobs.Models.CompanyType>

@{
    ViewBag.title = "Manage Company";
}

<h2>Company</h2>

<div class="container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateTeacher" data-toggle="modal" data-target="#companyTypeModal"> Add New CompanyType</button>
            <button onclick="AddnewAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateTeacher" data-toggle="modal" data-target="#companyModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Company</button>

            <button class="btn btn-info btn-xs">Manage Company</button>

        </div>
        <div class="panel-body">
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblComanies">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Company Name</th>
                        <th>Company Type</th>
                        <th>Contact Person</th>
                        <th>Contact Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_Company")
@Html.Partial("_CompanyType")

@section scripts{
    @Scripts.Render("~/Scripts/Function/company.js")
    @Scripts.Render("~/Scripts/Function/companyType.js")
}
