﻿<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" id="customersModal" aria-labelledby="customersModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Customer</b>
            </div>
            <div class="modal-body">

                <div class="well">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <img class="center img-responsive img-thumbnail" id="customerPhoto" src="~/Images/company.png" />
                            </div>
                            <div class="form-group">
                                <label>ជ្រើសរើសរូបថត</label>
                                <input onchange="readURLCustomer(this);" type="file" id="file" style="width:100%;" />
                                <input type="hidden" value="" id="file_old" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" hidden value="" />
                            <input id="id" name="id" type="text" value="" class="form-control input-sm hidden" placeholder="Enter " />

                            <div class="form-group">
                                <label for="name">ឈ្មោះ</label>
                                <input id="name" name="name" type="text" value="" class="form-control input-sm" placeholder="Enter Name" />
                            </div>
                            <div class="form-group">
                                <label for="sex">ភេទ</label>
                                <select class="form-control input-sm" id="sex">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>None</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="address">អាស័យដ្ឋាន</label>
                                <input id="address" name="address" type="text" value="" class="form-control input-sm" placeholder="Enter Address" />
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="showroomid">សាខា</label>
                                <select class="form-control input-sm" id="showroomid">
                                    @foreach (var pos in Model.ShowRoomss)
                                    {
                                        <option value=@pos.id>@pos.name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="phoneC">ទូរសព្ទ័</label>
                                <input id="phoneC" name="phoneC" type="text" value="" class="form-control input-sm" placeholder="Enter Phone" />

                            </div>
                            <div class="form-group">
                                <label for="customerType">ប្រភេទ</label>
                                <input id="customerType" name="customerType" type="text" value="" class="form-control input-sm" placeholder="Enter CustomerType" />
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @*<label for="deliveryout">ជើងសារដឹក</label>*@
                               @* <input id="deliveryout" name="deliveryout" type="text" value="" class="form-control input-sm" placeholder="Enter DeliveryOut" />*@

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="idenityNo">លេខអត្តសណ្ណាណប័ណ្ណ</label>
                                <input id="idenityNo" name="idenityNo" type="text" value="" class="form-control input-sm" placeholder="Enter IdenityNo" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @*<label for="email">អ៊ីម៉ែល</label>
                                <input id="email" name="email" type="text" value="" class="form-control input-sm" placeholder="email@example.com" />*@
                            </div>
                        </div>

                        <hr />
                        <div class="row">

                            <div class="col-md-8">
                                <button type="button" id="btnCus" onclick="CustomerAction();" class="btn btn-info btn-block btn-sm">Add New</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>
</div>






