﻿
@{
    ViewBag.title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button onclick="AddNewCustomerAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateCustomer" data-toggle="modal" data-target="#customersModal"> Add New Customer</button>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Customer Management</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <label for="displayShowRoom">Customer By ShowRoom:</label>
                            <select id="displayShowRoom" class="form-control input">
                                <option>-----Select ShowRoom-----</option>
                                @foreach (var sh in Model.ShowRoomss)
                                {
                                    <option value="@sh.id">@sh.name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered" id="customerTbl">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_Customer")

@section scripts{
    @Scripts.Render("~/Scripts/Function/customer.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
