﻿
@model CamTojobs.ViewModel.VancancyViewModel


<div class="modal fade" data-backdrop="static" data-keyboard="false" id="vacancyModal" aria-labelledby="vacancyModal" role="dialog">
    <div class="modal-dialog modal-lg">        
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                        <b class="modal-title" style="color:darkblue">Manage Company</b>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <input type="text" id="id" name="id" hidden value="" />
                            <input type="text" id="employeeId" name="employeeId" hidden value="" />
                            <input type="text" id="companyId" name="companyId" hidden value="" />


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="position">Position</label>
                                    <select class="form-control input-sm" id="position">
                                        @foreach (var position in Model.Positions)
                                        {
                                            <option value=@position.id>@position.positionName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control input-sm" id="category">
                                        @foreach (var category in Model.Categories)
                                        {
                                            <option value=@category.id>@category.categoryName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="positionAvailable">Needs</label>
                                    <input type="number" name="positionAvailable" id="positionAvailable" class="form-control input-sm" value="" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="contractType">Contract Type</label>
                                    <select class="form-control input-sm" id="contractType">
                                        <option>Full Time</option>
                                        <option>Part Time</option>
                                        <option>Volunteer</option>
                                        <option>Internship</option>
                                        <option>Apprenticeship</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="salary">Salary</label>
                                    <input type="text" name="salary" id="salary" class="form-control input-sm" value="" />

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="schedule">Schedule</label>
                                    <input type="text" name="schedule" id="schedule" class="form-control input-sm" value="" />

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="location">ProductType</label>
                                    <input type="text" name="location" id="location" class="form-control input-sm" value="" />

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="responsibility">Responsibility</label>
                                    <textarea name="responsibility" id="responsibility" rows="4" style="min-width:100%; max-width:100%" class="form-control input-sm" value=""></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="requirement">Requirement</label>
                                    <textarea name="requirement" id="requirement" rows="4" style="min-width:100%; max-width:100%" class="form-control input-sm" value=""></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="information">Application Information</label>
                                    <textarea name="information" id="information" rows="3" style="min-width:100%; max-width:100%" class="form-control input-sm" value=""></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="postingDate">Posting Date</label>
                                    <input type="date" name="postingDate" id="postingDate" class="form-control input-sm" value="" />

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="deadline">DeadLine</label>
                                    <input type="date" name="deadline" id="deadline" class="form-control input-sm" value="" />

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sstatus">Status</label>
                                    <select class="form-control input-sm" id="sstatus">
                                        <option>Open</option>
                                        <option>Close</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer panel-primary">
                        <div class="clearfix">
                            <button class="btn btn-sm btn-danger pull-right" style="margin-left:5px" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button class="btn btn-sm btn-primary pull-right" onclick="VacanyAction();" style="margin-left:5px" id="btnSave"><span class="glyphicon glyphicon-floppy-saved"></span> Save</button>
                            <button class="btn btn-sm btn-info pull-right js-update" onclick="Update();" style="margin-left:5px" id="btnUpdate"><span class="glyphicon glyphicon-floppy-saved"></span> Update</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

