﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="CategoryModal" aria-labelledby="CategoryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Category</b>
            </div>
            <div class="modal-body">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <input type="text" name="id" id="CategoryID" hidden value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="CategoryName">Category Name</label>
                                        <input type="text" name="CategoryName" id="CategoryName" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-xs btn-info form-control" onclick="CategoryAction();" id="btnSaveCategory"><span class="glyphicon glyphicon-save"></span> Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblCategory">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

