﻿@model CamTojobs.ViewModel.VancancyViewModel
@{
    ViewBag.Title = "Vacancys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" style="margin:5px" onclick="AddnewCategoryAction();" class="btn btn-info btn-xs pull-right" id="btCreateCategory" data-toggle="modal" data-target="#CategoryModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Category</button>
<button type="button" style="margin:5px" onclick="PositionModalAction();" class="btn btn-info btn-xs pull-right" id="btCreatePosition" data-toggle="modal" data-target="#positionModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Position</button>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Vacancy Management</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <label for="displaycompany">Vacancy By Company:</label>
                            <select id="displaycompany" class="form-control input">
                                <option>-----Select Company-----</option>
                                @foreach (var company in Model.Companies)
                                {
                                    <option value="@company.Id">@company.CompanyName</option>
                                }
                            </select>
                            <button type="button" onclick="AddnewVacancyAction();" class="btn btn-info" id="btnPostNewVacancy" data-toggle="modal" data-target="#vacancyModal"><span class="glyphicon glyphicon-plus-sign"></span> Post New Vacancy</button>

                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered" id="tblVacancy">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Company</th>
                                    <th>Position</th>
                                    <th>Category</th>
                                    <th>Needed</th>
                                    <th>Contract Type</th>
                                    <th>Schedule</th>
                                    <th>Salary</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("_Position")
@Html.Partial("Category")
@Html.Partial("_VacancyModal")


@{
    //Html.RenderAction("");
}

@section scripts{
    @Scripts.Render("~/Scripts/Function/Category.js")
    @Scripts.Render("~/Scripts/Function/Position.js")
    @Scripts.Render("~/Scripts/Function/Vacancy.js")
    @*@Scripts.Render("~/Scripts/Functions/Generaleducation.js")*@

}




