﻿

<div class="modal fade" id="productModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Product</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="ID" name="ID" hidden value="" />
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input type="text" name="productName" id="productName" value="" class="form-control input-sm" placeholder="Enter Product Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="showRoomId">Product By ShowRoom:</label>
                                    <select id="showRoomId" class="form-control input">
                                        <option>-----Select ShowRoom-----</option>
                                        @foreach (var sh in Model.ShowRoomss)
                                        {
                                            <option value="@sh.id">@sh.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="productTypeId">Product Type</label>
                                    <select id="productTypeId" class="form-control input">
                                        @foreach (var pt in Model.ProductTypes)
                                        {
                                            <option value="@pt.id">@pt.producttypename</option>
                                        }
                                    </select>                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="qtyStock">Qty Stock</label>
                                    <input type="text" name="qtyStock" id="qtyStock" value="" class="form-control input-sm" placeholder="Enter Qty Stock" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnProduct" class="btn btn-info btn-sm btn-block" onclick="ProductAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




