﻿
@{
    ViewBag.title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button onclick="AddNewProductAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateProduct" data-toggle="modal" data-target="#productModal"> Add New Product</button>
<button onclick="AddNewProductTypeAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateProductType" data-toggle="modal" data-target="#productTypeModal"> Add New ProductType</button>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Product Management</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <label for="displayShowRoom">Product By ShowRoom:</label>
                            <select id="displayShowRoom" class="form-control input-sm">
                                <option>-----Select ShowRoom-----</option>
                                @foreach (var sh in Model.ShowRoomss)
                                {
                                    <option value="@sh.id">@sh.name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered" id="productTbl">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>QTY Stock</th>
                                    <th>Product Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_Product")
@Html.Partial("_ProductType")

@section scripts{
@Scripts.Render("~/Scripts/Function/producttype.js")
    @Scripts.Render("~/Scripts/Function/product.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
